<html>
<header>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <script src="jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</header>

<body>
    <div class="container">
        <div class="row text-center m-3 p-2">
            <div class="col md-12">
                <a href="atm1.html" id="next">next</a><br></br>
                <a href="atm_help.html" id="help">help</a>
                <h3><img src="img/UM.jpg"></h3>
            </div>
        </div>
        <div class="container">
            <div class="row text-center">
                <div class="col md-12 p-2 m-2">
                    <input id="cardNo" maxlength="10" size="10">
                    <h6>Card No (eg. 12345)</h6></input>
                    <button id="swipeBtn" type="button" class="btn btn-lg btn-info">Swipe Card</button>
                </div>

            </div>
            <div class="row text-center">
                <div class="col md-3 p-2 m-2">
                    <input id="ipt1" maxlength="10" size="10">
                    <h6>Message 1</h6></input>
                    <button id="btn1" type="button" class="btn btn-lg btn-info">Menu 1</button>
                </div>
                <div class="col md-3 p-2 m-2">
                    <input id="ipt2" maxlength="10" size="10">
                    <h6>Message 1</h6></input>
                    <button id="btn2" type="button" class="btn btn-lg btn-info">Menu 1</button>
                </div>
                <div class="col md-3 p-2 m-2">
                    <input id="ipt3" maxlength="10" size="10">
                    <h6>Message 1</h6></input>
                    <button id="btn3" type="button" class="btn btn-lg btn-info">Menu 1</button>
                </div>
                <div class="col md-3 p-2 m-2">
                    <input id="ipt4" maxlength="10" size="10">
                    <h6>Message 1</h6></input>
                    <button id="btn4" type="button" class="btn btn-lg btn-info">Menu 1</button>
                </div>
            </div>

            <div class="row text-center">
                <div class="col md-12 p-2 m-2">
                    <textarea id="opt" maxlength="100" size="70" cols="70" rows="10">                                                                           
                    </textarea>

                </div>
            </div>
            <div>
                <a id="navSubMenu" href="/sub_menu">test link</a>
            </div>

<script src="BankMsg.js" ></script>

    
</body>

</html>